@page "/history"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.QuickGrid
@inject BlazorCRUD.Data.ApplicationDbContext DB
@using BlazorCRUD
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<AuthorizeView>

    <p>
        <a href="history/create">Create New</a>
    </p>

    <QuickGrid Class="table" Items="DB.History" Pagination="state">
        <PropertyColumn Property="history => history.Content" Sortable="true" />
        <PropertyColumn Property="history => history.Sauce" />
        <PropertyColumn Property="history => history.DateTime"/>

        <TemplateColumn Context="history">
            <a href="@($"history/edit?id={history.Id}")">Edit</a> |
            <a href="@($"history/details?id={history.Id}")">Details</a> |
            <a href="@($"history/delete?id={history.Id}")">Delete</a>
        </TemplateColumn>
    </QuickGrid>

    <Paginator State="state" />
</AuthorizeView>

@code {
    PaginationState state = new PaginationState { ItemsPerPage = 2 };
}
