@page "/history"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.QuickGrid
@inject BlazorCRUD.Data.ApplicationDbContext DB
@using BlazorCRUD

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="history/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DB.History" Pagination="state">
    <PropertyColumn Property="history => history.Content" Sortable="true" />
    <PropertyColumn Property="history => history.Sauce"  />
    <PropertyColumn Property="history => history.DateTime" Title="Time"/>

    <TemplateColumn Context="history">
        <a href="@($"History/edit?id={history.Id}")">Edit</a> |
        <a href="@($"History/details?id={history.Id}")">Details</a> |
        <a href="@($"History/delete?id={history.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

<Paginator State="state"/>

@code {
    PaginationState state = new PaginationState { ItemsPerPage = 5 };
}
